In [1]:
import pandas as pd
df = pd.read_csv('./전처리전데이터/오염+날씨+녹지+차+인구.csv', index_col = 0)
df

C:\Users\Home\AppData\Local\Temp\ipykernel_30600\473163811.py:2: DtypeWarning: Columns (58,71,79,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./전처리전데이터/오염+날씨+녹지+차+인구.csv', index_col = 0)

,key_0,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,...,CNG,LNG,하이브리드(휘발유+전기),하이브리드(경유+전기),하이브리드(LPG+전기),하이브리드(CNG+전기),하이브리드(LNG+전기),수소,기타연료,인구
0,2018-01,서울 노원구,도시대기,111311,노원구,2018-01-01 01:00:00,0.006,0.5,0.018,0.025,...,9722,0,58570,25,2089,51,0,13,5254,"553,264"
1,2018-01,서울 노원구,도시대기,111311,노원구,2018-01-01 02:00:00,0.008,0.8,0.008,0.034,...,9722,0,58570,25,2089,51,0,13,5254,"553,264"
2,2018-01,서울 노원구,도시대기,111311,노원구,2018-01-01 03:00:00,0.008,0.9,0.006,0.036,...,9722,0,58570,25,2089,51,0,13,5254,"553,264"
3,2018-01,서울 노원구,도시대기,111311,노원구,2018-01-01 04:00:00,0.008,0.8,0.009,0.032,...,9722,0,58570,25,2089,51,0,13,5254,"553,264"
4,2018-01,서울 노원구,도시대기,111311,노원구,2018-01-01 05:00:00,0.006,0.6,0.006,0.035,...,9722,0,58570,25,2089,51,0,13,5254,"553,264"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43818,2022-12,서울 노원구,도시대기,111311,노원구,2022-12-31 19:00:00,0.004,1.1,0.002,0.072,...,8276,1,164626,3631,1455,47,0,2914,7403,"503,734"
43819,2022-12,서울 노원구,도시대기,111311,노원구,2022-12-31 20:00:00,0.004,1.4,0.002,0.076,...,8276,1,164626,3631,1455,47,0,2914,7403,"503,734"
43820,2022-12,서울 노원구,도시대기,111311,노원구,2022-12-31 21:00:00,0.004,1.4,0.002,0.074,...,8276,1,164626,3631,1455,47,0,2914,7403,"503,734"
43821,2022-12,서울 노원구,도시대기,111311,노원구,2022-12-31 22:00:00,0.004,1.5,0.002,0.073,...,8276,1,164626,3631,1455,47,0,2914,7403,"503,734"
43822,2022-12,서울 노원구,도시대기,111311,노원구,2022-12-31 23:00:00,0.004,1.4,0.002,0.072,...,8276,1,164626,3631,1455,47,0,2914,7403,"503,734"

In [2]:
df.columns

Index(['key_0', '지역', '망', '측정소코드', '측정소명', '측정일시', 'SO2', 'CO', 'O3', 'NO2',
       'PM10', 'PM25', '주소', '지점', '지점명', '기온(°C)', '기온 QC플래그', '강수량(mm)',
       '강수량 QC플래그', '풍속(m/s)', '풍속 QC플래그', '풍향(16방위)', '풍향 QC플래그', '습도(%)',
       '습도 QC플래그', '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)', '현지기압 QC플래그',
       '해면기압(hPa)', '해면기압 QC플래그', '일조(hr)', '일조 QC플래그', '일사(MJ/m2)',
       '일사 QC플래그', '적설(cm)', '3시간신적설(cm)', '전운량(10분위)', '중하층운량(10분위)',
       '운형(운형약어)', '최저운고(100m )', '시정(10m)', '지면상태(지면상태코드)', '현상번호(국내식)',
       '지면온도(°C)', '지면온도 QC플래그', '5cm 지중온도(°C)', '10cm 지중온도(°C)',
       '20cm 지중온도(°C)', '30cm 지중온도(°C)', '구분별(1)', '구분별(2)', '시점', '총합계(개소)',
       '시설녹지(개소)', '일반녹지(개소)', '분리대(개소)', '수벽(개소)', '수림대(개소)', '하천변조경(개소)',
       '간이휴게소(개소)', '지하철환기구주변(개소)', '건물주변(개소)', '아파트 및 학교(개소)', '침수공간조성(개소)',
       '기타(개소)', '총합계(면적)', '시설녹지(면적)', '일반녹지(면적)', '분리대(면적)', '수벽(면적)',
       '수림대(면적)', '하천변조경(면적)', '간이휴게소(면적)', '지하철환기구주변(면적)', '건물주변(면적)',
       '아파트 및 학교(면적)', '침수공간조성(면적)', '기타(면적)', '일시', '휘발유', '경유', '엘피지', '등유',
       '전기', '알코올', '태양열', 'CNG', 'LNG', '하이브리드(휘발유+전기)', '하이브리드(경유+전기)',
       '하이브리드(LPG+전기)', '하이브리드(CNG+전기)', '하이브리드(LNG+전기)', '수소', '기타연료', '인구'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43823 entries, 0 to 43822
Data columns (total 97 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   key_0          43823 non-null  object
 1   지역             43823 non-null  object
 2   망              43823 non-null  object
 3   측정소코드          43823 non-null  int64
 4   측정소명           43823 non-null  object
 5   측정일시           43823 non-null  object
 6   SO2            43370 non-null  float64
 7   CO             43359 non-null  float64
 8   O3             43384 non-null  float64
 9   NO2            42889 non-null  float64
 10  PM10           43192 non-null  float64
 11  PM25           43194 non-null  float64
 12  주소             43823 non-null  object
 13  지점             43823 non-null  float64
 14  지점명            43823 non-null  object
 15  기온(°C)         43822 non-null  float64
 16  기온 QC플래그       7622 non-null   float64
 17  강수량(mm)        4678 non-null   float64
 18  강수량 QC플래그      8472 non-null   float64
 19  풍속(m/s)        43812 non-null  float64
 20  풍속 QC플래그       7254 non-null   float64
 21  풍향(16방위)       43812 non-null  float64
 22  풍향 QC플래그       7254 non-null   float64
 23  습도(%)          43823 non-null  float64
 24  습도 QC플래그       7593 non-null   float64
 25  증기압(hPa)       43821 non-null  float64
 26  이슬점온도(°C)      43823 non-null  float64
 27  현지기압(hPa)      43813 non-null  float64
 28  현지기압 QC플래그     7603 non-null   float64
 29  해면기압(hPa)      43813 non-null  float64
 30  해면기압 QC플래그     7603 non-null   float64
 31  일조(hr)         23958 non-null  float64
 32  일조 QC플래그       23708 non-null  float64
 33  일사(MJ/m2)      23958 non-null  float64
 34  일사 QC플래그       23711 non-null  float64
 35  적설(cm)         1446 non-null   float64
 36  3시간신적설(cm)     118 non-null    float64
 37  전운량(10분위)      42693 non-null  float64
 38  중하층운량(10분위)    43673 non-null  float64
 39  운형(운형약어)       24397 non-null  object
 40  최저운고(100m )    22244 non-null  float64
 41  시정(10m)        43823 non-null  float64
 42  지면상태(지면상태코드)   0 non-null      float64
 43  현상번호(국내식)      12923 non-null  float64
 44  지면온도(°C)       43799 non-null  float64
 45  지면온도 QC플래그     7738 non-null   float64
 46  5cm 지중온도(°C)   43798 non-null  float64
 47  10cm 지중온도(°C)  43799 non-null  float64
 48  20cm 지중온도(°C)  43798 non-null  float64
 49  30cm 지중온도(°C)  43798 non-null  float64
 50  구분별(1)         43823 non-null  object
 51  구분별(2)         43823 non-null  object
 52  시점             43823 non-null  int64
 53  총합계(개소)        43823 non-null  int64
 54  시설녹지(개소)       43823 non-null  int64
 55  일반녹지(개소)       43823 non-null  int64
 56  분리대(개소)        43823 non-null  int64
 57  수벽(개소)         43823 non-null  object
 58  수림대(개소)        43823 non-null  int64
 59  하천변조경(개소)      43823 non-null  int64
 60  간이휴게소(개소)      43823 non-null  int64
 61  지하철환기구주변(개소)   43823 non-null  int64
 62  건물주변(개소)       43823 non-null  int64
 63  아파트 및 학교(개소)   43823 non-null  int64
 64  침수공간조성(개소)     43823 non-null  int64
 65  기타(개소)         43823 non-null  int64
 66  총합계(면적)        43823 non-null  int64
 67  시설녹지(면적)       43823 non-null  int64
 68  일반녹지(면적)       43823 non-null  int64
 69  분리대(면적)        43823 non-null  int64
 70  수벽(면적)         43823 non-null  object
 71  수림대(면적)        43823 non-null  int64
 72  하천변조경(면적)      43823 non-null  int64
 73  간이휴게소(면적)      43823 non-null  int64
 74  지하철환기구주변(면적)   43823 non-null  int64
 75  건물주변(면적)       43823 non-null  int64
 76  아파트 및 학교(면적)   43823 non-null  int64
 77  침수공간조성(면적)     43823 non-null  int64
 78  기타(면적)         43823 non-null  object
 79  일시             43823 non-null  object
 80  휘발유            43823 non-null  object
 81  경유             43823 non-null  object
 82  엘피지            43823 non-null  int64
 83  등유             43823 non-null  int64
 84  전기             43823 non-null  int64
 85  알코올            43823 non-null  int64
 86  태양열            43823 non-null  int64
 87  CNG            43823 non-null  int64
 88  LNG            43823 non-null  int64
 89  하이브리드(휘발유+전기)  43823 non-null  int64
 90  하이브리드(경유+전기)   43823 non-null  int64
 91  하이브리드(LPG+전기)  43823 non-null  int64
 92  하이브리드(CNG+전기)  43823 non-null  int64
 93  하이브리드(LNG+전기)  43823 non-null  int64
 94  수소             43823 non-null  int64
 95  기타연료           43823 non-null  int64
 96  인구             43823 non-null  object
dtypes: float64(41), int64(39), object(17)
memory usage: 32.8+ MB

In [4]:
#미사용 컬럼 삭제
df = df.drop(columns=['key_0', '측정소코드', '측정소명', '주소', '지점', '지점명','구분별(1)','구분별(2)','시점','일시'], axis=1)

In [5]:
#이상한 자동차 컬럼 삭제('등유','알코올','태양열','LNG','하이브리드(LNG+전기)')
df = df.drop(columns=['등유','알코올','태양열','LNG','하이브리드(LNG+전기)'], axis=1)

In [6]:
# 전체 데이터 대비 결측치 퍼센트를 계산
total_rows = len(df)
missing_percentages = {}

for column in df.columns:
    missing_count = df[column].isnull().sum()
    missing_percentage = (missing_count / total_rows) * 100
    if missing_percentage >= 10:
        missing_percentages[column] = missing_percentage

# 결측치 비율이 10% 이상인 컬럼 출력
for column, percentage in missing_percentages.items():
    print(f"Column {column} has {percentage:.2f}% missing values")

Column 기온 QC플래그 has 82.61% missing values
Column 강수량(mm) has 89.33% missing values
Column 강수량 QC플래그 has 80.67% missing values
Column 풍속 QC플래그 has 83.45% missing values
Column 풍향 QC플래그 has 83.45% missing values
Column 습도 QC플래그 has 82.67% missing values
Column 현지기압 QC플래그 has 82.65% missing values
Column 해면기압 QC플래그 has 82.65% missing values
Column 일조(hr) has 45.33% missing values
Column 일조 QC플래그 has 45.90% missing values
Column 일사(MJ/m2) has 45.33% missing values
Column 일사 QC플래그 has 45.89% missing values
Column 적설(cm) has 96.70% missing values
Column 3시간신적설(cm) has 99.73% missing values
Column 운형(운형약어) has 44.33% missing values
Column 최저운고(100m ) has 49.24% missing values
Column 지면상태(지면상태코드) has 100.00% missing values
Column 현상번호(국내식) has 70.51% missing values
Column 지면온도 QC플래그 has 82.34% missing values

In [7]:
# 결측이 10% 이상인 컬럼 삭제(각각 96.7%,99.73%,44.33%,49.24%,100%,70.51%)
df = df.drop(columns=['적설(cm)','3시간신적설(cm)','운형(운형약어)','최저운고(100m )','지면상태(지면상태코드)','현상번호(국내식)'], axis=1)

In [8]:
#QC 플래그 전처리 ( QC플래그 열은 결측과 오측을 검사하는 컬럼이기 때문에 삭제 ) 
df = df.drop(columns=['기온 QC플래그','강수량 QC플래그','풍속 QC플래그','풍향 QC플래그','습도 QC플래그','현지기압 QC플래그','해면기압 QC플래그','일조 QC플래그','일사 QC플래그','지면온도 QC플래그'], axis=1)

In [9]:
# 휘발유와 경유 콤마 제거 후 숫자로 변환

df['휘발유'] = df['휘발유'].apply(lambda x: float(x.replace(',', '')) if isinstance(x, str) and ',' in x else x).astype(float)
df['경유'] = df['경유'].apply(lambda x: float(x.replace(',', '')) if isinstance(x, str) and ',' in x else x).astype(float)

In [10]:
# 수정하고자 하는 칼럼 목록
columns_c = ['휘발유', '경유', '엘피지', '전기', 'CNG',
                     '하이브리드(휘발유+전기)', '하이브리드(경유+전기)', '하이브리드(LPG+전기)',
                     '하이브리드(CNG+전기)', '수소', '기타연료']

In [11]:
# 각 칼럼의 값을 0.0484를 곱한 값으로 변경 -> 노원 자동차 보유율로 보정

for column in columns_c:
    # 숫자로 변경 안되는 값들 NAN로 설정
    #df[column] = pd.to_numeric(df[column], errors='coerce')
    # NaN이 아닌 값만 0.0484를 곱함
    df[column] = df[column].apply(lambda x: int(x*0.0484) if pd.notnull(x) else x)

In [12]:
#컬럼명 보정
df = df.rename(columns={'엘피지': 'LPG'})
df = df.rename(columns={'PM25': 'PM2.5'})

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43823 entries, 0 to 43822
Data columns (total 66 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지역             43823 non-null  object
 1   망              43823 non-null  object
 2   측정일시           43823 non-null  object
 3   SO2            43370 non-null  float64
 4   CO             43359 non-null  float64
 5   O3             43384 non-null  float64
 6   NO2            42889 non-null  float64
 7   PM10           43192 non-null  float64
 8   PM2.5          43194 non-null  float64
 9   기온(°C)         43822 non-null  float64
 10  강수량(mm)        4678 non-null   float64
 11  풍속(m/s)        43812 non-null  float64
 12  풍향(16방위)       43812 non-null  float64
 13  습도(%)          43823 non-null  float64
 14  증기압(hPa)       43821 non-null  float64
 15  이슬점온도(°C)      43823 non-null  float64
 16  현지기압(hPa)      43813 non-null  float64
 17  해면기압(hPa)      43813 non-null  float64
 18  일조(hr)         23958 non-null  float64
 19  일사(MJ/m2)      23958 non-null  float64
 20  전운량(10분위)      42693 non-null  float64
 21  중하층운량(10분위)    43673 non-null  float64
 22  시정(10m)        43823 non-null  float64
 23  지면온도(°C)       43799 non-null  float64
 24  5cm 지중온도(°C)   43798 non-null  float64
 25  10cm 지중온도(°C)  43799 non-null  float64
 26  20cm 지중온도(°C)  43798 non-null  float64
 27  30cm 지중온도(°C)  43798 non-null  float64
 28  총합계(개소)        43823 non-null  int64
 29  시설녹지(개소)       43823 non-null  int64
 30  일반녹지(개소)       43823 non-null  int64
 31  분리대(개소)        43823 non-null  int64
 32  수벽(개소)         43823 non-null  object
 33  수림대(개소)        43823 non-null  int64
 34  하천변조경(개소)      43823 non-null  int64
 35  간이휴게소(개소)      43823 non-null  int64
 36  지하철환기구주변(개소)   43823 non-null  int64
 37  건물주변(개소)       43823 non-null  int64
 38  아파트 및 학교(개소)   43823 non-null  int64
 39  침수공간조성(개소)     43823 non-null  int64
 40  기타(개소)         43823 non-null  int64
 41  총합계(면적)        43823 non-null  int64
 42  시설녹지(면적)       43823 non-null  int64
 43  일반녹지(면적)       43823 non-null  int64
 44  분리대(면적)        43823 non-null  int64
 45  수벽(면적)         43823 non-null  object
 46  수림대(면적)        43823 non-null  int64
 47  하천변조경(면적)      43823 non-null  int64
 48  간이휴게소(면적)      43823 non-null  int64
 49  지하철환기구주변(면적)   43823 non-null  int64
 50  건물주변(면적)       43823 non-null  int64
 51  아파트 및 학교(면적)   43823 non-null  int64
 52  침수공간조성(면적)     43823 non-null  int64
 53  기타(면적)         43823 non-null  object
 54  휘발유            43823 non-null  int64
 55  경유             43823 non-null  int64
 56  LPG            43823 non-null  int64
 57  전기             43823 non-null  int64
 58  CNG            43823 non-null  int64
 59  하이브리드(휘발유+전기)  43823 non-null  int64
 60  하이브리드(경유+전기)   43823 non-null  int64
 61  하이브리드(LPG+전기)  43823 non-null  int64
 62  하이브리드(CNG+전기)  43823 non-null  int64
 63  수소             43823 non-null  int64
 64  기타연료           43823 non-null  int64
 65  인구             43823 non-null  object
dtypes: float64(25), int64(34), object(7)
memory usage: 22.4+ MB

In [14]:
#추가 전처리1 - dtype 변경
#df['수벽(개소)']' object  => int64 변경
df['수벽(개소)'].unique() #array(['1', '-'], dtype=object)

# '-'값 0으로 치환
df['수벽(개소)'] = df['수벽(개소)'].replace('-', '0')

# 열의 데이터 타입을 int64로 변경
df['수벽(개소)'] = df['수벽(개소)'].astype('int64')
df['수벽(개소)']

0        1
1        1
2        1
3        1
4        1
        ..
43818    0
43819    0
43820    0
43821    0
43822    0
Name: 수벽(개소), Length: 43823, dtype: int64

In [15]:
#추가 전처리2 - dtype 변경
#df['수벽(면적)'] object  => int 변경
df['수벽(면적)'].unique() #array(['12000.0', '-'], dtype=object)

# '-'값 0으로 치환
df['수벽(면적)'] = df['수벽(면적)'].replace('-','0')
# '12000.0'값 '12000'으로 치환
df['수벽(면적)'] = df['수벽(면적)'].replace('12000.0','12000')

# 열의 데이터 타입을 int64로 변경
df['수벽(면적)'] = df['수벽(면적)'].astype('int64')

df['수벽(면적)']

0        12000
1        12000
2        12000
3        12000
4        12000
         ...
43818        0
43819        0
43820        0
43821        0
43822        0
Name: 수벽(면적), Length: 43823, dtype: int64

In [16]:
#추가 전처리3 - dtype 변경 & 데이터쉼표분리제거
#df['인구'] object => int64
df['인구'].unique() #숫자 데이터 쉼표로 이어짐 확인

#쉼표 제거
df['인구'] = df['인구'].str.replace(',', '')

# 열의 데이터 타입을 int64로 변경
df['인구'] = df['인구'].astype('int64')

df['인구']

0        553264
1        553264
2        553264
3        553264
4        553264
          ...
43818    503734
43819    503734
43820    503734
43821    503734
43822    503734
Name: 인구, Length: 43823, dtype: int64

In [17]:
#추가 전처리4 - dtype 변경
#float형일 필요 없는 xxx.0데이터만을 취하는 컬럼 -> int64형으로 변경 (메모리 관점)

#float형 컬럼명 모두 추출
float_col = df.select_dtypes(include='float').columns.tolist()

# 소숫점 이하가 0인 경우 int형으로 변환
for col in float_col:
    if all(df[col] % 1 == 0):
        df[col] = df[col].astype('int64')
    
#float64 -> int64 대상 컬럼
#df['PM10'], df['PM2.5'], df['풍향(16방위)'], df['전운량(10분위)'], df['중하층운량(10분위)'], df['최저운고(100m)'],
#df['총합계(면적)'], df['시설녹지(면적)'], df['일반녹지(면적)'], df['분리대(면적)'], df['수림대(면적)'], 
#df['하천변조경(면적)'], df['간이휴게소(면적)'], df['지하철환기구주변(면적)'], df['건물주변(면적)'], 
#df['아파트 및 학교(면적)'], df['침수공간조성(면적)'], df['기타(면적)'], df['휘발유'], df['경유']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43823 entries, 0 to 43822
Data columns (total 66 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지역             43823 non-null  object
 1   망              43823 non-null  object
 2   측정일시           43823 non-null  object
 3   SO2            43370 non-null  float64
 4   CO             43359 non-null  float64
 5   O3             43384 non-null  float64
 6   NO2            42889 non-null  float64
 7   PM10           43192 non-null  float64
 8   PM2.5          43194 non-null  float64
 9   기온(°C)         43822 non-null  float64
 10  강수량(mm)        4678 non-null   float64
 11  풍속(m/s)        43812 non-null  float64
 12  풍향(16방위)       43812 non-null  float64
 13  습도(%)          43823 non-null  float64
 14  증기압(hPa)       43821 non-null  float64
 15  이슬점온도(°C)      43823 non-null  float64
 16  현지기압(hPa)      43813 non-null  float64
 17  해면기압(hPa)      43813 non-null  float64
 18  일조(hr)         23958 non-null  float64
 19  일사(MJ/m2)      23958 non-null  float64
 20  전운량(10분위)      42693 non-null  float64
 21  중하층운량(10분위)    43673 non-null  float64
 22  시정(10m)        43823 non-null  int64
 23  지면온도(°C)       43799 non-null  float64
 24  5cm 지중온도(°C)   43798 non-null  float64
 25  10cm 지중온도(°C)  43799 non-null  float64
 26  20cm 지중온도(°C)  43798 non-null  float64
 27  30cm 지중온도(°C)  43798 non-null  float64
 28  총합계(개소)        43823 non-null  int64
 29  시설녹지(개소)       43823 non-null  int64
 30  일반녹지(개소)       43823 non-null  int64
 31  분리대(개소)        43823 non-null  int64
 32  수벽(개소)         43823 non-null  int64
 33  수림대(개소)        43823 non-null  int64
 34  하천변조경(개소)      43823 non-null  int64
 35  간이휴게소(개소)      43823 non-null  int64
 36  지하철환기구주변(개소)   43823 non-null  int64
 37  건물주변(개소)       43823 non-null  int64
 38  아파트 및 학교(개소)   43823 non-null  int64
 39  침수공간조성(개소)     43823 non-null  int64
 40  기타(개소)         43823 non-null  int64
 41  총합계(면적)        43823 non-null  int64
 42  시설녹지(면적)       43823 non-null  int64
 43  일반녹지(면적)       43823 non-null  int64
 44  분리대(면적)        43823 non-null  int64
 45  수벽(면적)         43823 non-null  int64
 46  수림대(면적)        43823 non-null  int64
 47  하천변조경(면적)      43823 non-null  int64
 48  간이휴게소(면적)      43823 non-null  int64
 49  지하철환기구주변(면적)   43823 non-null  int64
 50  건물주변(면적)       43823 non-null  int64
 51  아파트 및 학교(면적)   43823 non-null  int64
 52  침수공간조성(면적)     43823 non-null  int64
 53  기타(면적)         43823 non-null  object
 54  휘발유            43823 non-null  int64
 55  경유             43823 non-null  int64
 56  LPG            43823 non-null  int64
 57  전기             43823 non-null  int64
 58  CNG            43823 non-null  int64
 59  하이브리드(휘발유+전기)  43823 non-null  int64
 60  하이브리드(경유+전기)   43823 non-null  int64
 61  하이브리드(LPG+전기)  43823 non-null  int64
 62  하이브리드(CNG+전기)  43823 non-null  int64
 63  수소             43823 non-null  int64
 64  기타연료           43823 non-null  int64
 65  인구             43823 non-null  int64
dtypes: float64(24), int64(38), object(4)
memory usage: 22.4+ MB

In [18]:
#기타면적 없는 값 전처리하기
df['기타(면적)'].unique()    #-> array(['-', '100', 100, 5647], dtype=object)

#'100' 인 값 처리하기 object ->float
df.loc[df['기타(면적)'] == '100', '기타(면적)'] = 100

# 기타(면적)의 '-'값은 2018년도 데이터이고 2018-2021년까지는 기타(개소)의 값이 1이다. 따라서 기타(면적)에서 '-' 값을 100으로 치환한다
df.groupby(['기타(개소)', '기타(면적)']).size().reset_index().rename(columns={0:'count'})

   기타(개소) 기타(면적)  count
0       1    100  26304
1       1      -   8759
2      20   5647   8760

In [19]:
#'-' 인 값 처리하기 object ->float
df.loc[df['기타(면적)'] == '-', '기타(면적)'] = 100
df['기타(면적)'] = df['기타(면적)'].astype(int)

In [20]:
df.to_csv('./전처리전데이터/raw.csv', index=False, encoding="utf-8-sig")